@import url(https://fonts.googleapis.com/css?family=Rye);
@import url(https://fonts.googleapis.com/css?family=Romanesco);
@import url(https://fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(https://fonts.googleapis.com/css?family=Sahitya);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Lora:700);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body
{
	width: 1300px;
}

div.paper
{
	display: inline-block;
	font: 20px 'Sahitya', serif;
	width: 1300px;
	background: #d5cea6;
	display: inline-block;
	background-image: url(http://i.stack.imgur.com/kb0Zm.jpg);
}

article
{
	float: left;
	width: 600px;
	-webkit-column-width: 180px;
    column-count-width: 180px;
	-webkit-column-rule: 1px solid;
	column-rule: 1px solid;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    padding: 10px;
    margin: 10px;
    border-top: 2px solid;
    text-align: justify;
}

article.third img,
article.second img
{
	display:block;
	-webkit-column-span: all;
	column-span: all;
	margin: auto;
}

div.note
{
	position: relative;
	display: block;
	height: 250px;
	-webkit-column-span: all;
	column-span: all;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font: 40px 'Courgette', cursive;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

div.note span
{
	position: absolute;
	top: 60px;
	right: 10px;
	height: 100%;
	margin-bottom: 5px;
	text-align: center;
}

.first img 
{
    position: absolute;
    top: 10px;
    left: 50px;
    height: 250px;
}

.second img
{
	width: 80%;
}

.advertising
{
	font: 1.75em 'Lobster', cursive;
	text-transform: uppercase;
	-webkit-column-span: all;
	column-span: all;
	display: block;
	text-align: center;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

article.first
{
	border-bottom: 2px solid;
	width: 1240px;
	margin-top: 0;
}

article h2 + p:first-letter
{
	font-size: 2em;
}

article h2
{
	font-family: 'IM Fell English SC', serif;
}

.big
{
	font-family: 'Romanesco', cursive;
	-webkit-column-span: all;
	column-span: all;
    display: block;
    font-size: 2em;
    margin: 20px 0;
    text-align: center;
}

.bold
{
	font: 1.1em 'Lora', serif;
}

header 
{
	text-transform: uppercase;
	text-align: center;
	font-family: 'Rye', cursive;
}

header h1
{
	font-size: 4em;
	margin-bottom: 5px;
	margin-top: 15px;
}

header h2
{
	font-size: 2em;
	margin: 0;
}

header img
{
	width: 1200px;
	height: 100px;
	margin: 0;
}

.design2
{
	display: none;
}

select 
{
    margin: 10px;
    padding: 5px;
    border: 1px solid #051f34;
    background: #f4f5f5;
    color: #051f34;
}


/*настройки*/
.font-size[data-selected ="15"] ~ .paper
{
	font-size: 15px;
}

.font-size[data-selected ="25"] ~ .paper
{
	font-size: 25px;
}

.font[data-selected ="Lora"] ~ .paper
{
	font-family: 'Lora', serif;
}

.font[data-selected ="Raleway"] ~ .paper
{
	font-family: 'Raleway', sans-serif;
}

.design[data-selected ="2"] ~ .paper
{
	color: #800000;
	background-image: url(http://img07.deviantart.net/89a0/i/2014/012/b/3/old_paper_texture_8_by_i__zoldalma__i-d71y1hy.png);
}

.design[data-selected ="2"] ~ .paper header img.design1
{
	display: none;
}

.design[data-selected ="2"] ~ .paper header img.design2
{
	display: inline;
	margin: auto;
}

.design[data-selected ="3"] ~ .paper
{
	color: #2f4f4f;
	background-image: url(http://img08.deviantart.net/3ba9/i/2007/053/5/3/canvas_texture_white_paper_by_enchantedgal_stock.jpg);
}

.design[data-selected ="3"] ~ .paper header img.design1
{
	display: none;
}

.design[data-selected ="3"] ~ .paper header img.design2
{
	display: none;
}

